# Database
DATABASE_URL=postgresql://user:password@localhost:5432/patienttriage
SQLALCHEMY_DATABASE_URL=postgresql://user:password@localhost:5432/patienttriage

# API Settings
API_HOST=0.0.0.0
API_PORT=8000
DEBUG=True
ENVIRONMENT=development

# CORS
CORS_ORIGINS=["http://localhost:3000","http://localhost:8501"]

# Authentication
API_KEY_HEADER=X-API-Key
SECRET_KEY=0360c251e5f3f8aea0d84f7d3dd275c8e9b7ae184ff172d826282a081342507a

# NLP Settings
NLP_MODEL=facebook/bart-large-mnli
NLP_DEVICE=cpu

# Logging
LOG_LEVEL=INFO
